.input {
    font-weight: 300;
}

ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;

    .subtitle {
        color: gray;
        font-size: 0.9rem;
    }

    .title {
        font-size: 2rem;
    }
}

.signupLink {
    display: flex;
    justify-content: center;
    margin: auto;
    // transform: translateY(-50%);
    //   position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    top: 20;

    //   margin: auto;  111
    .p {
        font-size: 0.9em;
    }

    a {
        text-decoration: none;
    }
}

.forgotpassword {
    display: flex;
    justify-content: flex-end;

    a {
        font-weight: 400;
        font-size: 0.8em;
        text-decoration: none;
    }
}

.errorInput {
    color: red;
    font-weight: 300;
    font-size: small;
    padding-top: -16px;
}

ion-fab-button {
    --background: #1dda0c;
    --background-activated: #66ebe4;
    --background-hover: #14f5e2;
    --border-radius: 50%;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: black;
}