ion-fab-button {
    --background: #10dae9;
    --background-activated: #66ebe4;
    --background-hover: #14f5e2;
    --border-radius: 50%;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: black;
}


// ion-avatar {
//     width: 130px;
//     height: 130px;
// }

// .preview {
//     margin-top: 50px;
//     display: flex;
//     justify-content: center;
// }

// .fallback {
//     width: 130px;
//     height: 130px;
//     border-radius: 50%;
//     background: #bfbfbf;

//     text-align: center;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-weight: 500;
// }

// Le nouveau

ion-toolbar {
    --background: var(--ion-background-color, --td-bg);
    padding: 1rem 0.3rem;
    padding-bottom: 0;

    ion-icon,
    i {
        font-weight: lighter;
        color: black;
        font-size: 1.66rem;
    }

    ion-button.search-btn {
        margin-right: 0.2rem;
    }
}


#container {
    padding: 3rem 0rem;
    padding-top: 1.5vh;

    strong {
        font-size: xx-large;
        padding-left: 1.2rem;
        letter-spacing: 0.5px;
    }
}

.sub-header,
.todays-header {
    text-transform: uppercase;
    display: block;
    margin-left: 1.2rem;
    margin-top: 4vh;
    font-size: small;
    letter-spacing: 0.5px;
    color: var(--ion-secondary-text-color);
}

.todays-header {
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.categories {
    &-name {
        color: var(--color);
        font-size: large;
        font-weight: 600;
    }

    &-buttons {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 1.8rem 1rem;
        padding-bottom: 1.1rem;
        margin: 1rem;
        margin-bottom: 1.4rem;
        margin-right: 0;
        border-radius: 1.4rem;
        font-size: larger;
        color: var(--ion-color-secondary-contrast);
        background-color: var(--ion-card-background);
        text-align: left;
        box-shadow: var(--ion-card-box-shadow);

        ion-icon,
        .bx-envelope {
            font-size: xx-large;
        }

        ion-progress-bar {
            margin-top: 0.6rem;
            --background: var(--ion-progressbar);
        }

        .task-count {
            color: var(--ion-secondary-text-color);
            font-size: small;
        }

        span {
            margin-bottom: 0.7rem;
        }
    }
}

.business {
    ion-progress-bar {
        --progress-background: var(--td-magenta);
    }
}

.personal {
    ion-progress-bar {
        --progress-background: var(--td-blue);
    }
}

.task-list {
    margin-top: 1rem;
    padding: 0 1.2rem;
}